QMessageBox {
    background: rgb(32, 55, 76);
}

QLabel {
    color: rgb(255, 255, 255);
    margin: 20px;
}

QPushButton {
    border: none;
    padding: 10px;
    margin: 20px 5px;
    border-radius: 5px;
    background: rgb(49, 87, 113);
    color: rgb(255, 255, 255);
}

QPushButton:hover {
    background: rgb(53, 71, 104);
}